html, body{
    padding: 0;
    margin: 0;

    width: 100%;
    height: 100%;

    background-color: black;
    color: green;
}
textarea{
    padding: 0;
    margin: 0;
    border: 0;

    width: 100%;
    height: 80%;

    background-color: black;
    color: green;
}
#comando{
    padding: 0;
    margin: 0;
    border: 0;

    width: 100%;
    height: 10vh;

    background-color: white;
    color: black;
}
#btn{
    display: none;
}
.div{
    height: 10vh;
    padding: 0;
    margin: 0;
    border: 0;
}
#ajuda{
    font-weight: bolder;
}